name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Install build tools
        run: |
          sudo apt-get -qq update
          sudo apt-get -y install build-essential libcurl4-openssl-dev libsdl2-dev libx11-dev

      - name: Build
        run: make -j$(nproc)
